html {font-family: 'PT Serif', serif; /* 1 */-ms-text-size-adjust:none; /* 2 */-webkit-text-size-adjust:none; /* 2 */font-size:18px; -webkit-font-smoothing: antialiased; font-weight:400; color:#000000;margin:0 auto;scroll-behavior: smooth;}
div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:5pt 0;padding:0;}
body{margin: 0;overflow-x: hidden;}

/* scrollbar */
body::-webkit-scrollbar {width:6px; background:rgba(255,255,255,0.1);}
body::-webkit-scrollbar-track {box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color:#666666;}
body::-webkit-scrollbar:horizontal {height:6px;}
body::-webkit-scrollbar:vertical {width:6px;}

/* header */
header {height: fit-content;background: black;}
header img.people {height: auto;width: 100%;}
header img.logo {padding: 2vh 0;width: 15%;}
.header-title {text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(0,0,0,0.3);margin: 0;}
.header-title h1 {font-family: 'MetaSerif-BookIta';color: #fff;font-size: 40pt;padding: 4vh 0;font-weight: 900;}
.header-bottom {padding: 10px 25%;margin: 0;}
.header-bottom h3 {font-family: 'MetaSerif-BookIta';color: #fff;text-align: left;font-weight: 100;}
.header-bottom ul {color: #fff;display: flex;flex-flow: row wrap;margin: 0;list-style: none;padding: 0;padding-left: 25px;}
.header-bottom ul li {font-family: 'MetaSerif-BookIta';margin:10px 0;}
.header-bottom ul li:before {content: "\f0a9";font-family: FontAwesome;display: inline-block;margin-left: -1.3em;width: 1.3em;}

/* content */
.content {padding: 0 25%;margin: 20pt auto;}
.chart-content {padding: 0 20%;}
.text-foto {padding:2pt 6pt}
.text-foto p {font-size: 10pt;color:#fff;line-height: 18px;}

/* video */
.video-container {height: 90vh;background-color: #000000;display: flex;justify-content: center;align-items: center;position: relative;}
.video-container iframe{width: 60%;height: 80%;position: absolute;}
/* letter */
.images-container {width: 50%;left: 0;position: absolute;justify-content: center;display: flex;margin: 0;}

/* footer */
footer{background-color: #000000;clear: both;color: #f5f5f5;margin-top: 0;padding: 30px 0;}
footer .footer-wrapper {margin: 0 auto;padding: 0 30px;width: 100%;}
footer .footer-wrapper .conde-links {display: none;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;}
footer .conde-links .worldwide {-ms-flex-preferred-size: 242px;flex-basis: 242px;margin: 0 auto;}
footer .conde-links .worldwide h6 {color: #aeabac;font-size: 12px;font-weight: 700;letter-spacing: .8px;line-height: 2.5;text-transform: uppercase;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}
footer .conde-links .worldwide ul {list-style: none;margin: 0;padding: 0;}
footer .conde-links .worldwide ul li {color: #706d6e;font-size: 12px;font-weight: 400;letter-spacing: 1px;line-height: 2.5;text-decoration: none;text-transform: uppercase;}
footer .component-corp-legal {margin-top: 30px;color: #999;font-family: VFSans,Helvetica;font-weight: 400;font-size: 13px;line-height: 18px;}
.component-corp-legal>div {display: -webkit-box;display: -ms-flexbox;display: flex;position: relative;}
footer .component-corp-legal>div .conde-logo {height: 29px;margin: 0 auto 30px}
.component-corp-legal .conde-logo {color: #FFFFFF;display: block;height: 22px;margin: 0 auto 25px;text-align: center;width: 200px;}

.social-media {margin:0; padding: 0;position: absolute;right: 0;}
.social-media li{display: inline-block;margin-left: 5px;}
.social-media a{font-size: 1.5em;color: #FFFFFF;width: 32px;height: 32px;border-radius: 16px;display: flex;border: 1px solid #fff;justify-content: center;align-items: center;}

/* tabs */
ul.tabs{display:grid;list-style-type:none;padding:0;grid-template-columns: repeat(2 , 50%);}
ul.tabs li{background: #ffffff;border: 0.5px solid #9a9191;color: #9a9191;text-align: center;padding: 10px 50px;cursor: pointer;margin: 1%}
ul.tabs li:hover{background: #9a9191;color: #ffffff;}
ul.tabs li.current{background: #9a9191;color: #ffffff;border: 0.5px solid #ffffff}
.tab-content{display: none;background: #ededed;padding: 15px;}
.tab-content.current{display: block;}
.head-tab{display:flex;}
.tab-content h3{width: 95%;float: left;}
.close{float: right;font-size: 12px;font-weight: bold;background-color: #000000;color:#fff;padding:2pt 6pt;text-decoration: none;}
.close:hover{cursor: pointer;background-color: #9a9191;}

.soundcite-audio{margin:0;display: none;}
.content img, .content-other img{width:100%}
/* right arrow */
.arrow-right {padding:4pt 8pt; background-color: #000;color:#fff;text-decoration: none;float: right;margin-bottom: 20pt;}
.hide-desktop {display:none}


@-webkit-keyframes slidein {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0;
    }
}

@-moz-keyframes slidein {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0;
    }
}
 @-o-keyframes slidein {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0;
    }
}
  @keyframes slidein {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0;
    }
}

@-webkit-keyframes slideout {
    from {
        margin-right: 0;
    }
    to {
        margin-right: -100%;
    }
}

@-moz-keyframes slideout {
    from {
        margin-right: 0;
    }
    to {
        margin-right: -100%;
    }
}
 @-o-keyframes slideout {
    from {
        margin-right: 0;
    }
    to {
        margin-right: -100%;
    }
}
  @keyframes slideout {
    from {
        margin-right: 0;
    }
    to {
        margin-right: -100%;
    }
}

.visible {
  /* display: block !important; */
  /* for chrome and safari*/
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;

  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;

    /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;

    /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
}

.hide{
  margin-right: -100%;
  display: none !important;
  /* for chrome and safari*/
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slideout;

  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slideout;

    /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slideout;

    /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slideout;
}

figcaption {font-size: 0.75rem;font-family: 'MetaSerif-BookIta';}
.content-other{background-color: #000;color: #fff;padding:5vh 20%}
figcaption.video {color: #fff;position: absolute;bottom: 5vh;width: 60%}
p.soundcite-text{background-color: grey;padding: 0 10pt;width: fit-content;border-radius: 5px}
div.d3-tooltip {color: black;position: absolute;top: 0;text-align: left;width: auto;height: auto;padding: 5px;font-family: Lato;font: 16px sans-serif ;background: #e9ebee;border: 0px;border-radius: 8px;pointer-events: none;max-width: 250px;}
.d3-tooltip .nama{background-color: #000;color: #fff;padding: 5px 10px;font-weight: bold;font-family: 'Montserrat', sans-serif;}
.d3-tooltip span {font-weight: bold;margin: 5pt 0;}
.tick text{font-size: 20px;}
.victim {font-size: 25px;font-weight: bold;}